.hero-section {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.logo {
    width: 200px; /* Ajustez la taille selon votre logo */
    margin-bottom: 20px;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}